@import "vars";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
$red: rgb(253, 47, 47);
$blue: rgb(0, 3, 170);

#header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  // position: fixed;
  position: relative;
  z-index: 99;
  h1 {
    font-weight: 700;
    font-size: 18px;
    @include longShadow(#ccc, 50);
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
}

.container {
  width: 1400px;
  margin: 100px auto;
  color: #fff;

  .title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 50px;
    strong {
      font-weight: 700;
    }
  }
  .movieList {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      width: calc(50% - 20px);
      margin: 150px 10px 0 10px;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0 20px 0 20px;
      text-align: left;
      position: relative;
      a {
        width: 100%;
        display: flex;
        // justify-content: space-between;
      }
      .img {
        margin-top: -100px;
        position: relative;
        .point {
          position: absolute;
          bottom: 20px;
          left: 20px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          color: #fff;
          border-radius: 100%;
        }
      }
      .info {
        margin-left: 30px;

        .titleBox {
          margin-bottom: 20px;
          h3 {
            font-size: 24px;
            margin-bottom: 20px;
          }
          .originalTitle {
            font-size: 18px;
          }
          .release {
            opacity: 0.5;
            margin-top: 20px;
          }
        }
      }

      .overview {
        @include multiEllipsis(1.5, 3);
      }
      .vote {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 15px;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }
}

.detail {
  .detailBox {
    display: flex;
    justify-content: space-between;
    .img {
      width: 300px;
      img {
        border-radius: 0 50px 0 50px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        border: 10px solid #fff;
      }
    }
    .info {
      background-color: #fff;
      border-radius: 50px 0 50px 0;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
      color: #111;
      flex-grow: 1;
      margin-left: 50px;
      padding: 30px;
      text-align: left;
      overflow: hidden;
      .titleBox {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #999;
        h3 {
          font-size: 24px;
        }
        .originalTitle {
          margin: 10px 0;
        }
      }
      .summary {
        dl {
          // display: flex;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px dotted #ccc;
          align-items: center;
          dt {
            // margin-right: 20px;
          }
          dd {
            font-weight: 500;
            font-size: 20px;
            margin-top: 10px;
          }
          .genre {
            span {
              display: inline-block;
              &:last-child:after {
                display: none;
              }
            }
            span:after {
              content: "/";
              display: inline-block;
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
  .profileList {
    display: flex;
    overflow: hidden;
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      margin: 0 5px;
      img {
        width: 80px;
        height: 120px;
        object-fit: cover;
      }
      span {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .back {
    padding: 20px 30px;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    border-radius: 10px 0 10px 0;
  }
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  p {
    padding: 15px 30px;
    background-color: #fff;
    font-weight: 300;
    border-radius: 100px;
    text-transform: uppercase;
    strong {
      font-weight: 900;
    }
  }
}

@media all and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
